.about-container {
  padding: 1rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (width < 700px) {
  .about-container {
    padding: 6.5rem 2rem;
    padding-inline: 2rem;
  }
}

/* AboutPage.module.css */

.aboutPage {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.aboutSection {
  margin-bottom: 40px;
}

.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.aboutText {
  flex: 1;
}

.aboutImageContainer {
  border-radius: 2rem;
}

.aboutImage {
  width: 100%;
  border-radius: 3rem;
}

.testimonialsSection,
.faqSection,
.contactSection,
.gallerySection {
  margin-bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.faqSection {
  max-width: 40rem;
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
}

.testimonialItem {
  flex: 1;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.faqItem {
  margin-bottom: 20px;
}

.contactDetails {
  margin: 0 auto;
}

.socialMedia a {
  margin-right: 10px;
  color: #333;
}

.gallerySection {
  width: 100%;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.galleryItem img {
  width: 100%;
  border-radius: 8px;
}

/* Add more styles as needed */
