.hot-artists-nav {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  max-width: 1440px;
}

.hotPerformersTitle {
  margin: 0;
  flex: 1;
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.carousel-img {
  width: 100%;
  height: 10rem;
  position: relative;
  border-radius: 1rem;
}

.carousel-title-text {
  color: #183d4c;
  font-family: 'Inter', Helvetica;
  font-size: 1rem;
  font-weight: 600;
  align-self: flex-start;
  margin-bottom: 0.9rem;
  cursor: pointer;
}

.carousel-title-text:hover {
  text-decoration: underline;
}

.carousel-genre {
  display: flex;
  gap: 0.2rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-items: flex-start;
}

.carousel-genre-text {
  color: #378ece;
  font-family: 'Inter', Helvetica;
  font-size: 13px;
  font-weight: 500;
  background-color: #62afe84c;
  border-radius: 6px;
  text-align: center;
  height: 20px;
  display: flex;
  justify-content: center;
  padding: 0.2rem 0.4rem;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);

  align-items: center;
}

.carousel-container button {
  width: 100%;
  border-radius: 1rem;
}

.book-now {
  background-color: #fc8e5e;
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  margin-top: 2rem;
  align-self: flex-start;
  padding: 0.5rem 1rem;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281), 1px -1px -1px rgba(0, 0, 0, 0.281);
}

.fab {
  font-size: 1.5rem;
}

.book-now:hover {
  background-color: #e26732;
}

.upcoming-events {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 0rem;
}
.see-all a,
.see-all-artists p {
  color: #fc8a5e;
  font-family: 'Inter', Helvetica;
  font-size: 1rem;
  font-weight: 500;
  text-align: right;
  transition: all 0.3s ease-in-out;
}

.see-all a:hover,
.see-all-artists p:hover {
  text-decoration: underline;
}

@media (width < 700px) {
  .header-background,
  .header-carousel,
  .about,
  .faq,
  .subscription,
  .header-navbar {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
  }
  .hot-artists-nav {
    padding-inline: 2rem;
  }

  .hotPerformersTitle {
    font-size: large;
  }

  .events {
    padding: 0.5rem 0.5rem;
  }

  .top-bar {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .header-carousel {
    padding-top: 0;
    margin-top: -8rem;
  }

  .search-bar {
    background-color: red;
    color: red;
    border-radius: 1.2rem;
    width: 100%;
    width: 100%;
    max-width: 25rem;
  }

  header .greetings {
    margin: 10rem 0 0 0;
    text-align: left;
  }

  header .greetings-message {
    text-align: left;
  }

  .see-all-artists {
    display: inline-block;
  }

  .events {
    padding-top: 0;
  }

  .upcoming-events {
    margin-top: 0;
  }

  .events-preview {
    margin-top: 2rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-img {
    margin: 0 auto;
  }

  .faq-title,
  .about-message-title,
  .join-agermax {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: left;
  }

  .subscription p {
    font-size: 1rem;
    align-self: baseline;
  }

  .subscription input[type='checkbox'] {
    width: auto;
    height: auto;
    align-self: baseline;
  }
}

@media (max-width: 500px) {
  .header-background,
  .header-carousel,
  .header-navbar {
    padding: 0.5rem 1rem;
  }
  .first-img {
    display: none;
  }

  .page-nav-item-detail {
    margin: 0;
    text-align: left;
  }

  .search-bar {
    margin: 0;
  }
}
