:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Specified Colors */
  --primary-color: rgb(252, 142, 94);
  --primary-color-light: rgba(252, 142, 94, 0.24);
  --secondary-color: rgb(98, 175, 232);
  --off-light-body-background: rgb(237, 241, 244);
  --main-heading-color: rgb(24, 61, 76);
  --body-text-color: rgb(75, 98, 127);
  --box-shadow: 0px 6px 12px rgba(19, 41, 104, 0.1);
  --card-overlay-box: white;
  --main-font-family: 'Inter', Arial, sans-serif;
  --skeleton-container-color: '#e9ebec';
  --skeleton-detail-element-color: 'rgb(219, 224, 228)';

  /* artist-profile */
  --main-background-color: #edf1f4;
  --button-color: #fc8e5e;
  --text-color: #183d4c;
  --tag-color: #378ece;
  --tag-background-color: #d2e5f3;
  --grey-background: #f1f4f7;
  --grey-heading-color: #b0bbc9;

  /* Font Sizes */
  --large-size: 1.6rem;
  --large-titles: 2.5rem;
  --normal-size: 1rem;
  --smaller-size: 0.867rem;
  --medium-size: 1.133rem;

  /* custom css */
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-light: rgb(245, 248, 255);
  --clr-light-gray: rgb(196, 195, 196);
  --clr-blue: rgb(63, 134, 255);
  --clr-light-blue: rgb(171, 202, 255);
}

* {
  font-family: 'Inter', Arial, sans-serif;
}

a {
  text-decoration: none;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}

code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* End General Styles */

:where(.css-1qhpsh8).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
  color: #262626;
  border-color: transparent;
}

:where(.css-1qhpsh8).ant-dropdown .ant-dropdown-menu,
:where(.css-1qhpsh8).ant-dropdownmenu-submenu .ant-dropdown-menu {
  padding: 10px;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 12px;
  outline: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
