:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Specified Colors */
  --primary-color: rgb(252, 142, 94);
  --primary-color-light: rgba(252, 142, 94, 0.24);
  --secondary-color: rgb(98, 175, 232);
  --off-light-body-background: rgb(237, 241, 244);
  --main-heading-color: rgb(24, 61, 76);
  --body-text-color: rgb(75, 98, 127);
  --box-shadow: 0px 6px 12px rgba(19, 41, 104, 0.1);
  --card-overlay-box: white;

  /* artist-profile */
  --main-background-color: #edf1f4;
  --button-color: #fc8e5e;
  --text-color: #183d4c;
  --tag-color: #378ece;
  --tag-background-color: #d2e5f3;
  --grey-background: #f1f4f7;
  --grey-heading-color: #b0bbc9;

  /* Font Sizes */
  --large-size: 1.6rem;
  --large-titles: 2.5rem;
  --normal-size: 1rem;
  --smaller-size: 0.867rem;
  --medium-size: 1.133rem;
}

html,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
