.homepage {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', Helvetica;
  background: rgb(237, 241, 244);
  max-width: 1920px;
}
header {
  color: white;
  position: relative;
  /* background-color: #378ece; */
  /* min-height: 40rem; */
}
.header-background {
  background-color: #222a2e;
  height: 436px;
  padding: 2rem 4rem;
  gap: 4rem;
  position: relative;
}

.navbar {
  align-items: center;
}
.search-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.search-field {
  padding: 10px;
  border-radius: 19px;
  height: 40px;
  background-color: #58707a;
  color: white;
  border: none;
  flex: 1;
  max-width: 426px;
}

.search-field::placeholder {
  color: white;
}

main {
}

.top-bar {
  display: flex;
  justify-content: space-between;
  /* position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 2rem 4rem;
  z-index: 99; */
}

.header .logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.logo img {
  object-fit: cover;
  height: 50px;
  width: 50px;
}
.last-img {
  display: flex;
  justify-content: flex-end;
}
header .greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 3.5rem;
}

header .greetings-hi {
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 29px;
  font-weight: 700;
  line-height: 35px;
}

header .greetings-message {
  color: #adb6c0;
  text-align: center;
  font-family: 'Inter', Helvetica;
  font-size: 17px;
  font-weight: 400;
}

.header-carousel {
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  overflow: auto;
  /* flex-wrap: wrap; */
  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  margin-top: -6.5rem;
  padding: 0 4rem;
  gap: 2rem;
  position: relative;
  top: 0rem;
}

.header-carousel::-webkit-scrollbar {
  display: none;
}

.carousel-container {
  /* height: 252px; */
  min-width: 300px;
  max-width: 300px;
  width: 100%;
  flex: 1;
  padding: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 18px;
  align-items: center;
}

.carousel-img {
  object-fit: cover;
  /* width: 236px; */
  width: 100%;
  height: 161px;
  position: relative;
  border-radius: 18px;
}

.carousel-title-text {
  color: #183d4c;
  font-family: 'Inter', Helvetica;
  font-size: 17px;
  font-weight: 600;
  align-self: flex-start;
}

.carousel-genre {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-self: flex-start;
  margin-top: 1rem;
}

.carousel-genre-text {
  color: #378ece;
  font-family: 'Inter', Helvetica;
  font-size: 13px;
  font-weight: 500;
  width: 70px;
  background-color: #62afe84c;
  border-radius: 6px;
  text-align: center;
  height: 20px;
  display: flex;
  justify-content: center;

  align-items: center;
}

.book-now {
  background-color: #fc8e5e;
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 10px;
  height: 34px;
  margin-top: 2rem;
  align-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming-events {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 0rem;
}
.see-all {
  color: #fc8a5e;
  font-family: 'Inter', Helvetica;
  font-size: 15px;
  font-weight: 500;
  text-align: right;
}
.upcoming {
  color: #183d4c;
  font-family: 'Inter', Helvetica;
  font-size: 17px;
  font-weight: 600;
}

.events-genre-buttons {
  margin-top: 16px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.genre-btn {
  color: #183d4c;
  font-size: 15px;
  font-weight: 500;
  background-color: white;
  border-radius: 5px;
  padding: 2px 5px;
}

.events {
  padding: 0 64px;
}

.events-preview {
  margin-top: 64px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 2.5rem;
}

.events-preview-img {
  background-image: url('https://images.unsplash.com/photo-1510915361894-db8b60106cb1?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fG11c2ljfGVufDB8fDB8fHww');
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  height: 274px;
  flex: 1;
  /* min-width: 280px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  border-radius: 18px;
}

.calendar {
  display: flex;
  justify-content: flex-end;
}

.calendar-icon {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-right: 5px;
  padding: 1px;
}

.calendar-icon-ins-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ff1e46 50%, #ecf0f1 50%);
  /* width: 100%;
  width: 100%; */
}

.calendar-month {
  /* background-color: #ff1e46; */
  width: 100%;

  /* border-top-right-radius: 10px;
  border-top-left-radius: 10px; */
}

.event-preview-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 12px;
}

.event-prev-detail {
  color: white;
}

.event-preview-schedule {
  display: flex;
  align-items: center;
}

.events-refresh-icon {
  margin-right: 12px;
}

.events-load-more-btn {
  color: #000000b2;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.65px;
  background-color: #e3e7eb;
  border-radius: 50px;
  height: 40px;
  width: 158px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.about {
  padding: 100px;
  display: flex;
  gap: 3rem;
}
.about-message-title {
  color: #333333;
  font-family: 'Inter', Helvetica;
  font-size: 48px;
  font-weight: 500;
  letter-spacing: 2.4px;
  line-height: normal;
}

.about-message-content {
  color: #666666;
  font-family: 'Inter', Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 36px;
  text-align: justify;
}

.about-img {
  border-radius: 19px;
}

.about-read-more-btn {
  background-color: #fc8a5e;
  border-radius: 15px;
  height: 45px;
  width: 261px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faq {
  padding: 180px;
}

.faq-title {
  font-size: 48px;
  color: #333333;
  text-align: center;
  margin-bottom: 3rem;
}
.faq-question {
  display: flex;
  flex-direction: column;
  margin: 3rem 0;
}
.faq-question-no {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.faq-collapse-icon {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.faq-divider {
  border: 0.5px solid #7777772c;
}

.subscription {
  padding: 0 180px;
  margin-bottom: 5rem;
}
.subscription-details {
  background-color: #ffffff4c;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.join-agermax {
  color: #000;
  letter-spacing: 1.6px;
  font-family: DM Sans, Helvetica;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
}

.subscribe {
  color: #444444;
  font-family: 'DM Sans', Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type='checkbox'] {
  width: 20px;
  height: 20px;
  align-self: center;
}

.subscription-email {
  color: #666;
  letter-spacing: 1.2px;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding-inline: 20px;
  background-color: #edf1f5;
  border-radius: 16px;
  border: 0.2px solid #edf1f5;
  flex: 1.5;
}

.subscription-register {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
}

.get-started {
  color: #444;
  letter-spacing: 1.2px;
  font-family: DM Sans, Helvetica;
  font-size: 24px;
  font-weight: 400;
}

.subscription-form {
  background-color: #edf0f4;
  border: 1.5px solid;
  border-color: #dfdfdf;
  border-radius: 16px;
  height: 84px;
  display: flex;
  gap: 15px;
}
a {
  text-decoration: none;
}
.subscription-reg-wrapper {
  background-color: #fc8a5e;
  border-radius: 16px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

footer {
  background-color: #e2e8ed;
  padding: 32px 5rem;
  display: flex;
  flex-direction: column;
}

footer .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

footer .logo {
  display: flex;
  gap: 12px;
}

footer img {
  border-radius: 10px;
}

footer .copyright-terms {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  gap: 10px;
}

footer .logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

footer .social-media {
  display: flex;
  gap: 1.5rem;
}

.terms-privacy {
  display: flex;
  gap: 1rem;
}

.footer-nav {
  display: flex;
  gap: 2rem;
}
