.usersListPage {
  --primary-color: rgb(252, 142, 94);
  --tabs-border-radius: 0.5rem;
  --tabs-container-padding: 0.25rem;
  --tabs-container-border: 1px solid blue;
  --regular-tab-background: #efefef;
  --selected-tab-background: white;
  --tabs-container-color: #efefef;
  --tabs-hover-color: rgb(252, 142, 94);
  --events-panel-backgroundColor: #f2f5f6;

  max-width: 48rem;
}

.usersListPage * {
  /* position: relative; */
  margin: 0;
}

.usersListPageNavBar {
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.usersListPageNavBarAddUsersBtn {
  background-color: #4428f2;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.usersListPageListTable {
  flex-direction: column;
}
