/* General Styles */
.uploadArea {
  width: 180px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadAreaOpen {
  animation: slidDown 300ms ease-in-out;
}

@keyframes slidDown {
  0% {
    margin-top: 30px;
  }
  80% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0;
  }
}

/* Tooltip */
.tooltip {
  position: relative;
  color: var(--clr-light-blue);
  cursor: pointer;
  transition: color 300ms ease-in-out;
}

.tooltip:hover {
  color: var(--clr-blue);
}

.tooltipData {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -125%);
  min-width: max-content;
  background-color: var(--clr-white);
  color: var(--clr-blue);
  border: 1px solid var(--clr-light-blue);
  padding: 0.625rem 1.25rem;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.tooltip:hover .tooltipData {
  opacity: 1;
  visibility: visible;
}

/* Drop Zone */
.dropZoon {
  position: relative;
  height: 130px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed var(--clr-light-blue);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 300ms ease-in-out, background 300ms ease-in-out;
}

.dropZoon:hover {
  border-color: var(--clr-blue);
  background: #e0f1fd;
}

.dropZoonIcon {
  display: flex;
  font-size: 25px;
  color: var(--clr-blue);
  align-items: center;
  transition: opacity 300ms ease-in-out;
}

.dropZoonHover:hover .dropZoonIcon {
  opacity: 0.7;
}

.loadingText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--clr-light-blue);
  z-index: 10;
  font-size: 13px;
}

.uploadBtn {
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  border-radius: 50px;
}

.previewImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 0.3125rem;
  border-radius: 50%;
  z-index: 1000;
  transition: opacity 300ms ease-in-out;
}

.previewImageHover:hover {
  opacity: 0.8;
}

.fileInput {
  display: none;
}

.dropZoonOver {
  border-color: var(--clr-blue);
  background: #e0f1fd;
}

.dropZoonUploaded .dropZoonIcon {
  display: none;
}

/* File Details Area */
.fileDetails {
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: left;
  transition: height 500ms ease-in-out, opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}

.fileDetailsOpen {
  height: auto;
  visibility: visible;
  opacity: 1;
}

/* Uploaded File */
.uploadedFile {
  display: flex;
  align-items: center;
  padding: 0.625rem 0;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.uploadedFileCounter {
  font-size: 13px; /* Adjusted text size */
  color: var(--clr-light-gray);
  width: 32px;
  position: relative;
  display: inline-block;
}

.uploadedFileCounter::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0; /* Initially no width */
  height: 2px;
  background-color: rgb(10, 213, 108); /* Green color */
  transition: width 0.5s ease;
}

/* Add a modifier class to expand the green bar */
.uploadedFileCounterActive::after {
  width: 100%; /* Full width to indicate completion */
}

.uploadedFileOpen {
  visibility: visible;
  opacity: 1;
}

.iconContainer {
  position: relative;
  margin-right: 0.3125rem;
}

.uploadedFileIcon {
  font-size: 2rem;
  color: var(--clr-blue);
}

.iconText {
  position: absolute;
  top: 0.85rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--clr-white);
}

.fileInfo {
  position: relative;
  top: -0.3125rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  display: flex;
  opacity: 1;
  width: 50px;
  height: 30px;
  border-radius: 9px;
  background: #ffc0c0;
  color: #ce0f0f;
  margin-left: 10px;
  cursor: pointer;
  transition: opacity 0.5s ease;
  align-items: center;
  justify-content: center;
}
