.financialDetailsPage {
  display: flex;
  gap: 2rem;
  height: 100%;
  max-width: 120rem;
  color: var(--main-heading-color);
  background-color: var(--off-light-body-background);
}

.financialDetailsPageInfo,
.financialDetailsPagePreview {
  flex: 1;
  background-color: white;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.organizerDetails {
  margin-bottom: 2.5rem;
}
.organizerDetails p {
  margin: 0;
  color: red;
}
.sectionUnderLined {
  border-bottom: 2px solid var(--off-light-body-background);
}
.menuOptions {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.customMenuItemContainer {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 2px solid var(--off-light-body-background);
}
.dateOfIssueAndMemoWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.dateOfIssue,
.memo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.organizerDetails h3,
.customMenuItemLabel {
  margin: 0;
  padding: 0.25rem 0;
}

.paymentItemsDetails {
}
.financialDetailsPagePreview {
  flex: 1;
  height: 100%;
}
.paymentItemsDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.financialDetailsPageInfo p {
  margin: 1rem 0;
}

.paymentItemsTitles {
  display: flex;
  border-bottom: 1px solid var(--off-light-body-background);
  flex: 1;
}

.item {
  flex: 1;
}

.price {
  flex: 1;
  text-align: right;
}
.itemsHeaderWrapper,
.itemsWrapper {
  display: flex;
  align-items: center;
  /* padding: 0.5rem 0; */
  border-bottom: 1px solid #000;
}
.itemsHeader,
.itemName {
  flex: 1;
  font-weight: 900;
}

.itemsHeader:nth-of-type(2),
.itemPrice {
  text-align: right;
  /* flex: 0.4; */
  width: 5rem;
  outline: none;
  border: none;
}
.itemsHeader:nth-of-type(2) {
  padding-right: 17px;
}
.itemsWrapper {
  border: none;
}
.itemName {
  font-weight: normal;
}
.addItemBtn {
  color: rgba(128, 128, 128, 0.514);
  cursor: pointer;
  flex: 0.5;
}
.itemSubTitle {
  flex: 1;
  text-align: right;
}

.itemPrice {
  flex: 0.6;
}

.priceTotal {
  display: flex;
}

.priceTotals {
  width: 100%;
}
.priceTotalTable {
  flex: 1;
  text-align: left;
}
.priceTotalTable th {
  font-size: 1.17em;
}

.priceTotalItemName {
  width: 50%;
}
.priceSubTotals {
  display: flex;
}

.underlinedCell {
  border-bottom: 1px solid var(--off-light-body-background);
}
.dateFieldTitle {
  padding-inline: 0.5rem;
}
.dateField {
  border: none;
  padding: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
.saveChangesBtn {
  background-color: var(--main-heading-color);
  color: white;
  padding: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: auto;
  /* flex: 1; */
  width: 100%;
}

.saveChangesBtn:hover {
  transform: scale(1.01);
}

.financialDetailsPagePreview h2,
.financialDetailsPagePreview p,
.financialDetailsPagePreview h4 {
  margin: 0;
}
.invoiceTable {
  border-spacing: 0;
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
}

.financialDetailsPagePreview h3 {
  margin: 0.2rem;
}
.previewHeader {
  background-color: var(--main-heading-color);
  padding: 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: white;
}
.invoiceDetails {
  display: flex;
}

.previewHeaderInvoiceTitle {
  width: 100%;
}

.previewDate {
  display: flex;
  gap: 2.5rem;
}

.previewSummary {
  /* background-color: white; */
  color: var(--main-heading-color);
  padding: 2rem 1rem;
}
.previewSummary h3 {
  width: 100%;
}

.bill {
  display: flex;
  margin: 2.5rem 0;
}

.billFrom,
.billTo {
  flex: 1;
}
.billFrom h3,
.billTo h3 {
  font-size: 1rem;
  margin: 0;
}
.billFrom p,
.billTo p {
  font-size: 0.75rem;
  margin: 0;
}

.formInput {
  width: 100%;
  display: flex;
}
.editInputField {
  text-align: left;
  padding: 0.5rem;
  width: 50%;
  background-color: #f2f4f8;
  color: black;
  border-radius: 0.7rem;
  border: 1px solid white;
  outline-color: #4428f2;
  flex: 2.5;
}

.formInputLabel {
  padding: 0.5rem;
  flex: 1;
}

.submitButton {
  background-color: var(--main-heading-color);
  color: white;
  padding: 0.65rem;
  border-radius: 0.75rem;
  margin-top: 1rem;
  float: right;
  cursor: pointer;
}

.submitButton:hover {
  transform: scale(1.02);
}

/* //Rendered Table styles */
.priceTotalTable {
  border-spacing: 0;
}

.tableRow {
  display: contents;
  border-bottom: 1px solid #000;
}

.tableHeader,
.tableCell {
  padding: 8px;
  /* border: none; */
  outline: none;
  /* width: 40%; */
}
.tableCell input {
  width: 50%;
}

.sectionUnderLined {
  border-bottom: 2px solid #000;
}

.underlinedCell {
  text-align: right;
  border-bottom: 1px solid #000;
}
