.upcoming-events {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 0rem;
}
.see-all {
  color: #fc8a5e;
  color: #183d4c;
  font-weight: 500;
  background-color: white;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.281), -1px 1px rgba(0, 0, 0, 0.281);
  cursor: pointer;
  align-self: flex-end;
}
.genre-btn,
.activeGenre {
  color: #183d4c;
  font-size: 0.95rem;
  font-weight: 500;
  background-color: #fff;
  border-radius: 50px;
  padding: 0.1rem 0.6rem;
  box-shadow: 0 3px 10px rgba(24, 61, 76, 0.15);
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  transition: 0.2s ease-in-out;
}

.activeGenre {
  /* background-image: linear-gradient(to right, #ffa34f, #ff5e4b); */
  /* background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  background-color: #ffa34f;
  color: white;
  cursor: pointer;
}
.see-all:hover {
  text-decoration: underline;
}

.main-events {
  display: flex;
  flex-direction: column;
}

.see-all a:hover,
.see-all-artists p:hover {
  text-decoration: underline;
}
.upcoming {
  color: #183d4c;
  font-family: 'Inter', Helvetica;
  font-size: 1rem;
  font-weight: 600;
}

.events-genre-buttons {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.genre-btn {
  color: #183d4c;
  font-size: 0.75rem;
  font-weight: 500;
  background-color: white;
  border-radius: 5px;
  padding: 0.1rem 0.3rem;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.281), -1px 1px rgba(0, 0, 0, 0.281);
  overflow: auto;
}

.genre-btn::-webkit-scrollbar {
  display: none;
}

.events-preview {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2.5rem;
}

.events-preview-img {
  object-fit: cover;
  background-position: cover;
  background-size: cover;
  background-clip: border-box;
  height: 274px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1.1rem;
  position: relative;
}

.events-preview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 274px;
  border-radius: 18px;
  padding: 1rem;
  position: relative;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  height: 274px;
  border-radius: 1.1rem;
  padding: 1rem;
  position: relative;
  background-color: #e9ebec;
}
.skeletonCalendarIcon {
  width: 2.5rem;
  height: 2.5rem;
  justify-content: flex-end;
  align-self: flex-end;
}
.evt-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 1.1rem;
  /* height: 100%; */

  z-index: 0;
}

.calendar {
  display: flex;
  justify-content: flex-end;
}

.calendar-icon,
.ske {
  background-color: white;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-right: 5px;
  padding: 1px;
  align-self: flex-end;
}

.calendar-icon-ins-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(to bottom, #ff1e46 50%, #ecf0f1 50%);
}

.calendar-month {
  width: 100%;
}
.eventDetailsWrapper {
  z-index: 2;
}
.gradientOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: linear-gradient(to bottom, #ffffff00, rgba(0, 0, 0, 0.85));
}
.event-preview-details {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 12px;
  z-index: 1;
}
.event-prev-detail {
  color: white;
}
.event-prev-detail.artist-name {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.event-preview-schedule {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.events-refresh-icon {
  margin-right: 12px;
}

.events-load-more-btn {
  color: #000000b2;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.65px;
  background-color: #e3e7eb;
  border-radius: 50px;
  height: 40px;
  width: 158px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

@media (width < 700px) {
  .events,
  .main-events,
  .events-genre-buttons {
    padding: 0.5rem 0;
  }

  .see-all-artists {
    display: inline-block;
  }

  .events {
    padding-top: 0;
  }

  .upcoming-events {
    margin-top: 0;
    padding: 0;
  }

  .events-preview {
    margin-top: 0;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-img {
    margin: 0 auto;
  }

  .faq-title,
  .about-message-title,
  .join-agermax {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: left;
  }

  .subscription p {
    font-size: 1rem;
    align-self: baseline;
  }

  .subscription input[type='checkbox'] {
    width: auto;
    height: auto;
    align-self: baseline;
  }
}

@media (max-width: 500px) {
  .header-background,
  .header-carousel,
  .header-navbar {
    padding: 0.5rem 1rem;
  }
  .first-img {
    display: none;
  }

  .page-nav-item-detail {
    margin: 0;
    text-align: left;
  }

  .search-bar {
    margin: 0;
  }
}
