/* NavStyles.module.css */
.css-1e72eac {
  flex: 0 0 auto;
  overflow-x: hidden;
  transition: width 0.25s ease-in-out 0s;
  width: 310px;
}

.css-1sr0gdr {
  color: #747474;
  background-image: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
  z-index: 1200;
  position: fixed;
  top: 0px;
  outline: 0px;
  left: 0px;
  background-color: #f9fbfc;
  box-shadow: none;
  width: 320px;
  border-right: 1px solid #dee1e2;
  padding: 0 7px;
  gap: 30px;
}

/* done */
.scrollbar-container {
  position: relative;
  height: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}

.css-bnxmro.active {
  background-color: #e5e7ea;
}

.css-bnxmro {
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 0.875rem;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  color: inherit;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-decoration: none;
  min-width: 0px;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
  border-radius: 12px;
  transition: padding-left 0.25s ease-in-out 0s, padding-right 0.25s ease-in-out 0s;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.css-1ma7fdi {
  color: #000;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-image: none;
  padding: 0.6rem;
  margin: 0.5rem 0rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: none;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
}

.css-ypuw3b {
  padding-top: 15px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-style: solid;
  border-color: #dbdbdb;
  width: 100%;
}

.css-1w8cnzo {
  margin: 0.5rem 0px;
  font-weight: 500;
  line-height: 1.38462;
  font-size: 1.625rem;
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #000;
  text-align: left;
}

.css-g23jrf {
  margin: 0px;
  line-height: 0.8;
  font-size: 1rem;
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #000;
  font-weight: 500;
  text-align: left;
}

/* done */

.CalendarIcon_calendar-icon-ins-con__0MyfV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff1e46 45%, #fff 0);
  border: 1px solid #e2e2e2;
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.css-i8n673 .quick-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  box-shadow: rgb(4 4 4 / 10%) 0px 1px 3px 0px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e6e6e6;
}

.css-i8n673 {
  display: flex;
  padding: 0.5rem;
  gap: 10px;
}

.qlinks {
  display: flex;
  width: 100%;
}

.css-i8n673 .quick-link:hover {
  background-color: rgba(68, 40, 242, 0.1);
  color: rgb(68, 40, 242);
  border: 1px solid rgb(68, 40, 242);
}
