.calendar {
  display: flex;
  justify-content: flex-end;
}

.calendar-icon {
  z-index: 1;
  background-color: white;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  margin-right: 5px;
  padding: 1px;
  align-self: flex-end;
}

.calendar-icon-ins-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(180deg, #ff1e46 45%, #fff 0);
  border: 1px solid #e2e2e2;
  width: 45px;
  height: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.calendar-month {
  width: 100%;
  font-size: 0.75rem;
  color: white;
}
