.modalBackdrop {
  position: fixed;
  top: 0;
  /* right: -100%; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 10; /* Ensure it appears above other content */
  transition: right 0.3s ease-in-out;
}

.modalCardContent {
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 46rem;
  overflow: auto;
  width: 350px; /* Adjust width as needed */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
}

.modal-container.open {
  right: 0; /* Slide in from the right when open */
}

.modalCardContentCloseButton {
  align-self: flex-end;
  background-color: rgb(221, 221, 235);
  border-radius: 50%;
  width: 2rem;
  aspect-ratio: 1;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.modalCardContentCloseButton:hover {
  filter: brightness(90%);
}

.modalCardContentSaveButton {
  background-color: #4428f2;
  color: white;
  padding: 0.75rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-top: auto;
}

.modalCardContentSaveButton:hover {
  filter: brightness(90%);
  transform: scale(1.01);
}

.modalCardContentUserProfileTitle {
  font-size: 0.75rem;
}
