.modalBackdrop {
  position: fixed;
  top: 0;
  /* right: -100%; */
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 10; /* Ensure it appears above other content */
  transition: right 0.3s ease-in-out;
}

.modalCardContent {
  position: fixed;
  top: 2rem;
  right: 2rem;
  height: 90vh;
  width: 350px; /* Adjust width as needed */
  background-color: white;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  z-index: 12;
}

.modal-container.open {
  right: 0; /* Slide in from the right when open */
}
