.userDropdownContainer {
  width: 15%;
}

.userMenuButton {
  color: red;
}

.userImageContainer {
  height: 2.5rem;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
}

.userImage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userOnlineIndicator {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #4cd964;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  z-index: 1000;
}

.userMenuSignInButton,
.userMenuSignUpButton {
  color: white;
  border: 1px solid black;
  background-color: #62afe8;
  padding: 0.75rem 0.25rem;
  border-radius: 0.5rem;
  width: 5rem;
  cursor: pointer;
  border: none;
}
.userMenuSignInButton:hover {
  transform: scale(1.02);
}

.userMenuSignUpButton:hover {
  transform: scale(1.02);
}

.userActionsButtons {
  padding: 0;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  gap: 0.2rem;
  align-items: flex-start;
  flex: 0.25;
  /* width: 182px; */
}

.userActionsButtons a {
  padding: 0;
}
