.userDropdownContainer {
  width: 15%;
}

.userMenuButton {
  /* color: red; */
  padding: 0;
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  color: #262626;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
  border: 1px solid #eaeaea;
  cursor: pointer;
  outline: none;
}

.userImageContainer {
  height: 2.5rem;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50%;
}

.userImage {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 100%;
}

.userOnlineIndicator {
  width: 0.9rem;
  height: 0.9rem;
  background-color: #4cd964;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  border: 1px solid white;
  z-index: 1000;
}

.userMenuSignInButton,
.userMenuSignUpButton {
  height: 40px;
  padding: 4px 16px;
  background: #000;
  border-radius: 50px;
  color: #fff;
  align-items: center;
  display: flex;
  font-weight: 500;
}
.userMenuSignInButton:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.userMenuSignUpButton:hover {
  transform: scale(1.02);
}

.userActionsButtons {
  padding: 0;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  flex: 0.25;
  /* width: 182px; */
}

.userActionsButtons a {
  padding: 0;
}

.dropdown {
  width: 270px;
  min-height: 100px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

.menuItem {
  display: flex;
  padding: 3px 4px;
  border-radius: 8px;
  width: 100%;
  align-items: center;
  gap: 10px;
  color: #5a6168;
  font-size: 1rem;
}

.menuItemDivider {
  border-top: 1px solid #eaeaea;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (width < 700px) {
  .userMenuSignInButton {
    /* background-color: red; */
    display: none;
  }
}
