.header {
  color: white;
  position: relative;
}
.header-background {
  background-color: rgb(24, 61, 76);
  display: flex;
  flex-direction: column;
  height: 27rem;
  padding: 2rem 3rem;
  gap: 4rem;
  position: relative;
}

.navBarContainer {
  max-width: 1740px;
  margin: 0 auto;
}

.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: var(--off-light-body-background);
  padding: 1rem 1.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: -1;
}

.navbar {
  align-items: center;
  z-index: 999;
}
.search-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  z-index: 2;
}

.search-icon {
  color: white;
}

.page-nav-items {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
  align-items: center;
}

.page-nav-item {
  color: white;
  opacity: 0.5;
  padding-inline: 0.5rem;
}
.active-page-nav-item {
  opacity: 1;
  border-bottom: 2px solid #fc8e5e;
}
.page-nav-item:hover {
  cursor: pointer;
  color: white;
}
.page-nav-item-detail {
  color: white;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}
.collapsedStateSearchBarWrapper {
  background-color: #fff;
  color: #262626;
  display: flex;
  border-radius: 10rem;
  padding: 13px 16px;
  width: 90%;
  max-width: 24rem;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #ddd;
}

.collapsedStateSearchInput {
  background-color: transparent;
  color: #262626;
}

.collapsedStateSearchInput::placeholder {
  color: #262626;
}

.searchFormWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-nav-search-bar {
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.nav-menu-bar {
  list-style: none;
  padding: 0;
  display: flex;
  color: var(--text-color);
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 0 0 0.5rem 0;
}

.nav-menu-bar-item {
  padding: 0.5rem;
}

.search-bar {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  text-align: left;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  border-radius: 2rem;
  padding: 0.2rem;
  font-size: 0.75rem;
  gap: 0.25rem;
  width: 90%;
}

.search-item {
  /* border: 1px solid green; */
  border-radius: 5rem;
  display: flex;
  padding: 0 1%;
  flex: 1;
  /* justify-content: stretch; */
}

.search-item.fifth-item {
  /* background-color: rgb(199, 12, 12); */
  flex: 0.05;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.search-item.fifth-item:hover {
  border-radius: 0rem 5rem 5rem 0;
}
.search-item:hover {
  cursor: pointer;
  background-color: rgba(14, 14, 14, 0.123);
}
.active-search-item {
  font-weight: bold;
  background-color: rgba(14, 14, 14, 0.123);
}

.search-item-detail {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  justify-content: center;
  color: var(--text-color);
  font-size: var(--smaller-size);
  flex: 1;
  padding: 0 4%;
  color: black;
  /* border: 1px solid royalblue; */
  /* background-color: burlywood; */
  border-radius: 5rem;
}

.search-item-detail form,
.search-item-detail input,
.search-item-detail label {
  display: block;
  width: 100%;
}
.activeTab {
  background-color: white;
}

.searchWrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.activeTab:hover {
  background-color: white;
}
.searchWrapper {
  border: none;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  border-radius: inherit;
  height: 100%;
  width: 100px;
  flex: 1;
  cursor: pointer;
}

.searchWrapper:nth-child(2) {
  padding-inline: 1rem;
}

.dropdownLabelWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.dropdownLabelName {
  font-weight: bold;
}
.dropdownLabelGenreWrapper {
  display: flex;
  gap: 5px;
}

.rangePicker {
  background-color: transparent;
  border: none;
}

.rangePicker:hover,
.rangePicker:focus {
  background-color: transparent;
}

.rangePicker::placeholder {
  color: black;
}
.searchInputField {
  /* padding: 0.5rem; */
  color: black;
  border-radius: inherit;
  /* background-color: red; */
  max-width: none;
  /* flex: 1; */
  font-size: 0.85rem;
  border: none;
  outline: none;
  /* width: 3rem; */
}

.searchInputField input {
  background-color: blue;
}

.artistsListPreview {
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.85rem;
}

.searchInputFieldPictureContainer {
  border-radius: 50%;
  height: 100%;
  aspect-ratio: 1;
}
.searchInputFieldPicture {
  border-radius: 50%;
  height: 3rem;
  aspect-ratio: 1;
}
.search-item-detail span {
  width: 100%;
}

.popup {
  width: 20rem;
}
.search-item-detail p,
.search-item-detail input {
  margin: 0;
  font-size: 0.8rem;
}

.search-item-detail input {
  border: none;
  background-color: transparent;
  outline: none;
}

.search-item-divider {
  margin: auto 0;
  height: 50%;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.24);
}
.dropdownInput {
  border: none;
  padding: 0.5rem;
  outline-color: rgba(0, 0, 0, 0.1);
}
.dropdownInputButton {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #ff385c;
  color: white;
}
.bookNowButton {
  width: 6rem;
  background-color: #ff385c;
  color: white;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  border: none;
  /* cursor: pointer; */
}

.bookNowButton:hover {
  cursor: pointer;
}

.bookerDetailsButton {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  outline: none;
  padding: 0.3rem 0;
}
.bookerDetailsButton:focus {
  /* border-bottom: 2px solid #1677ff; */
  background-color: white;
}

.userDetailForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bookerDetailsInputField {
  text-align: left;
  padding: 0.75rem;
  width: 100%;
  background-color: #f2f4f8;
  color: black;
  border-radius: 0.7rem;
  border: none;
  outline-color: #4428f2;
}
.bookNowButton:hover {
  filter: brightness(110%);
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.6rem;
  font-size: 1.1rem;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  background-color: #ff385d00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.search-field {
  padding: 10px;
  border-radius: 19px;
  height: 40px;
  background-color: #58707a;
  color: white;
  border: none;
  flex: 1;
  max-width: 426px;
}

.top-bar {
  display: flex;
  /* justify-content: space-between; */
  justify-content: stretch;
  gap: 0rem;
  z-index: 2;
}

.top-bar * {
  /* cursor: pointer; */
}

.top-bar input:hover {
  cursor: pointer;
}

.header .logo,
.logo img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}
.agermaxLogoContainer,
.userActionsButtons {
  flex: 0.25;
  /* flex: 1; */
  display: flex;
  width: 182.5px;
  /* min-width: 15%; */
  align-items: center;
}
.userActionsButtons {
  justify-content: flex-end;
}

.last-img {
  display: flex;
  justify-content: flex-end;
}
header .greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 8rem;
}

header .greetings-hi {
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 1.85rem;
  font-weight: 700;
  line-height: 2rem;
}

header .greetings-message {
  color: #adb6c0;
  text-align: center;
  font-family: 'Inter', Helvetica;
  font-size: 17px;
  font-weight: 400;
}

.header-carousel {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 0 4rem;
  gap: 0.5rem;
  position: relative;
  margin-top: -6.5rem;
  top: 0rem;
  color: white;
}

.hot-artists-nav {
  display: flex;
  justify-content: space-between;
}
.see-all-artists {
  /* display: none; */
}

/***************Mobile NavBar*************/
.mobileNavBar {
  position: fixed;
  background-color: var(--off-light-body-background);
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2%;
  display: none;
}

.mobileNavButton,
.mobileNavActiveButton {
  font-family: var(--main-font-family);
  /* font-size: 1rem; */
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 0.2rem;
  padding: 0.75rem 0;
  border: none;
  position: relative;
  color: #5e90cc;
  flex: 1;
}
.mobileNavActiveButton::before {
  content: '';
  height: 5px;
  width: 100%;
  border-radius: 20px;
  background-color: #fa6b6b;
  /* margin-bottom: 0.6; */
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 0;
}
.mobileNavActiveButton {
  color: #fa6b6b;
  /* border-top: 5px solid #62afe8; */
  transition: all 0.3s ease-in-out;
  background: rgb(208, 229, 255);
  background: linear-gradient(180deg, rgba(208, 229, 255, 1) 0%, rgba(255, 255, 255, 1) 80%);
}

.mobileNavIcon {
  font-size: 1.25rem;
}

.noDisplayStyle {
  display: none;
}

.displayStyle {
  display: flex;
}

.mobileViewSearchBar {
  display: none;
  padding: 0;
  height: 45px;
  width: 100%;
}
/***************Media Queries*************/
@media (width < 700px) {
  .mobileNavBar {
    display: flex;
  }
  .collapsedStateSearchBarWrapper {
    display: none;
    padding: 0;
  }
  .mobileViewSearchBar {
    display: flex;
  }

  .header-background,
  .header-carousel,
  .about,
  .faq,
  .subscription,
  .header-navbar {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
  }

  .events {
    padding: 0.5rem 0.5rem;
  }

  /* .top-bar {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  } */
  .header-carousel {
    padding-top: 0;
    margin-top: -8rem;
  }

  /* .search-bar {
    border-radius: 1.5rem;
    width: 100%;
    max-width: 25rem;
    transition: all 5s ease-in-out;
  } */

  /* header .greetings {
    margin: 5rem 0 0 0;
    text-align: left;
  } */

  /* header .greetings-message {
    text-align: left;
  } */

  .see-all-artists {
    display: inline-block;
  }

  .events {
    padding-top: 0;
  }

  .upcoming-events {
    margin-top: 0;
  }

  .events-preview {
    margin-top: 2rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-img {
    margin: 0 auto;
  }

  .faq-title,
  .about-message-title,
  .join-agermax {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: left;
  }

  .subscription p {
    font-size: 1rem;
    align-self: baseline;
  }

  .subscription input[type='checkbox'] {
    width: auto;
    height: auto;
    align-self: baseline;
  }
}

@media (max-width: 500px) {
  .header-background,
  .header-carousel,
  .header-navbar {
    padding: 0.5rem 1rem;
  }
  .first-img {
    display: none;
  }

  .page-nav-item-detail {
    margin: 0;
    text-align: left;
  }

  .search-bar {
    margin: 0;
  }
  .agermaxLogoContainer {
    display: none;
  }
}

/* styles/transition.css */

.fade-enter {
  transform: scale(1.025);
  /* transition: transform 500ms linear; */
}

.fade-enter-active {
  transform: scale(1.01);
  transition: transform 100ms linear;
}

.fade-enter-done {
  transform: scale(1);
  transition: transform 100ms linear;
}

.fade-exit {
  transform: scale(0.85);
  /* transition: transform 100ms linear; */
}

.fade-exit-active {
  transform: scale(0.98);
  transition: transform 100ms linear;
}

.fade-exit-done {
  transform: scale(1);
  transition: all 100ms linear;
}
