.header {
  color: white;
  position: relative;
}
.header-background {
  background-color: rgb(24, 61, 76);
  display: flex;
  flex-direction: column;
  height: 27rem;
  padding: 2rem 3rem;
  gap: 4rem;
  position: relative;
}

.header-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  /* background-color: rgb(24, 61, 76); */
  background-color: #e2e8ed;
  padding: 1rem 1.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: -1;
}

.navbar {
  align-items: center;
  z-index: 999;
}
.search-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  z-index: 2;
}

.search-icon {
  color: white;
}

.page-nav-items {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
  align-items: center;
}

.page-nav-item {
  color: white;
  opacity: 0.5;
  padding-inline: 0.5rem;
}
.active-page-nav-item {
  opacity: 1;
  border-bottom: 2px solid #fc8e5e;
}
.page-nav-item:hover {
  cursor: pointer;
  color: white;
}
.page-nav-item-detail {
  color: white;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

/* .search-bar input {
  font-size: 0.9rem;
  padding: 0.8rem 1rem 0.8rem 2.7rem;
  width: 100%;
  border-radius: 1rem;
  background-color: #58707a;
  position: relative;
  color: white;
  border: none;
} */
.main-nav-search-bar {
  width: 100%;
  /* border: 1px solid brown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: all 5s ease-in-out; */
}
.nav-menu-bar {
  list-style: none;
  padding: 0;
  display: flex;
  color: var(--text-color);
  justify-content: center;
  gap: 2rem;
  margin: 0;
}

.nav-menu-bar-item {
  padding: 0.5rem;
}

.search-bar {
  width: 85%;
  /* max-width: 30rem; */
  border: 1px solid red;
  outline: none;
  text-align: left;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  z-index: 2;
  border-radius: 2rem;
  padding: 0;
  font-size: 0.75rem;
}

.search-item {
  /* border: 1px solid green; */
  border-radius: 5rem;
  display: flex;
  padding: 0 1%;
  flex: 1;
  /* justify-content: stretch; */
}

.search-item.first-item {
  color: black;
  /* background-color: burlywood; */
}

.search-item.second-item {
  /* background-color: rgb(151, 135, 222); */
}

.search-item.third-item {
  /* background-color: rgb(78, 214, 185); */
}

.search-item.fourth-item {
  /* background-color: rgb(199, 12, 12); */
}

.search-item.fourth-item:hover {
  border-radius: 5rem 0 0 5rem;
}
.search-item.fifth-item {
  /* background-color: rgb(199, 12, 12); */
  flex: 0.05;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
.search-item.fifth-item:hover {
  border-radius: 0rem 5rem 5rem 0;
}
.search-item:hover {
  cursor: pointer;
  background-color: rgba(14, 14, 14, 0.123);
}
.active-search-item {
  font-weight: bold;
  background-color: rgba(14, 14, 14, 0.123);
}

.search-item-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-color);
  font-size: var(--smaller-size);
  flex: 1;
  padding: 0 4%;
  /* border: 1px solid royalblue; */
  /* background-color: burlywood; */
  border-radius: 5rem;
}

.search-item-detail form,
.search-item-detail input,
.search-item-detail label {
  display: block;
  width: 100%;
}

.search-item-detail span {
  width: 100%;
}

.search-item-detail p,
.search-item-detail input {
  margin: 0;
  font-size: 0.8rem;
}

.search-item-detail input {
  border: none;
  background-color: transparent;
  outline: none;
}

.search-artist::placeholder {
  /* color: rgb(0, 25, 245); */
}

.search-item-divider {
  margin: auto 0;
  height: 3em;
  width: 1px;
  background-color: rgba(128, 128, 128, 0.24);
}

.search-item-divider:hover {
  /* opacity: 0; */
}

.search-btn {
  /* width: 6rem; */
  background-color: #ff385c;
  color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* .search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.349);
} */

.search-icon {
  position: absolute;
  top: 50%;
  left: 0.6rem;
  font-size: 1.1rem;
  transform: translateY(-50%);
  height: 2rem;
  width: 2rem;
  background-color: #ff385d00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.search-field {
  padding: 10px;
  border-radius: 19px;
  height: 40px;
  background-color: #58707a;
  color: white;
  border: none;
  flex: 1;
  max-width: 426px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  gap: 0.85rem;
  z-index: 2;
}

.header .logo,
.logo img {
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.last-img {
  display: flex;
  justify-content: flex-end;
}
header .greetings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  margin-top: 8rem;
}

header .greetings-hi {
  color: #ffffff;
  font-family: 'Inter', Helvetica;
  font-size: 1.85rem;
  font-weight: 700;
  line-height: 2rem;
}

header .greetings-message {
  color: #adb6c0;
  text-align: center;
  font-family: 'Inter', Helvetica;
  font-size: 17px;
  font-weight: 400;
}

.header-carousel {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  columns: repeat(auto-fill, minmax(250px, 1fr));
  padding: 0 4rem;
  gap: 0.5rem;
  position: relative;
  margin-top: -6.5rem;
  top: 0rem;
  color: white;
}

.hot-artists-nav {
  display: flex;
  justify-content: space-between;
}
.see-all-artists {
  /* display: none; */
}

@media (width < 700px) {
  .header-background,
  .header-carousel,
  .about,
  .faq,
  .subscription,
  .header-navbar {
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
  }

  .events {
    padding: 0.5rem 0.5rem;
  }

  .top-bar {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
  .header-carousel {
    padding-top: 0;
    margin-top: -8rem;
  }

  .search-bar {
    background-color: red;
    color: red;
    border-radius: 1.5rem;
    width: 100%;
    max-width: 25rem;
  }

  header .greetings {
    margin: 10rem 0 0 0;
    text-align: left;
  }

  header .greetings-message {
    text-align: left;
  }

  .see-all-artists {
    display: inline-block;
  }

  .events {
    padding-top: 0;
  }

  .upcoming-events {
    margin-top: 0;
  }

  .events-preview {
    margin-top: 2rem;
  }

  .about-content {
    flex-direction: column;
  }

  .about-content-img {
    margin: 0 auto;
  }

  .faq-title,
  .about-message-title,
  .join-agermax {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0rem;
    text-align: left;
  }

  .subscription p {
    font-size: 1rem;
    align-self: baseline;
  }

  .subscription input[type='checkbox'] {
    width: auto;
    height: auto;
    align-self: baseline;
  }
}

@media (max-width: 500px) {
  .header-background,
  .header-carousel,
  .header-navbar {
    padding: 0.5rem 1rem;
  }
  .first-img {
    display: none;
  }

  .page-nav-item-detail {
    margin: 0;
    text-align: left;
  }

  .search-bar {
    margin: 0;
  }
}

/* .fade {
} */

/* styles/transition.css */

.fade-enter {
  transform: scale(1.2);
  /* transition: transform 500ms linear; */
}

.fade-enter-active {
  transform: scale(1.1);
  transition: transform 100ms linear;
}

.fade-enter-done {
  transform: scale(1);
  transition: transform 100ms linear;
}

.fade-exit {
  transform: scale(0.7);
  /* transition: transform 100ms linear; */
}

.fade-exit-active {
  transform: scale(0.98);
  transition: transform 100ms linear;
}

.fade-exit-done {
  transform: scale(1);
  transition: all 100ms linear;
}
