.summaryDetailsContainer {
  margin-top: 16px;
  border: 1px solid #cbd4dc;
  border-radius: 12px;
  padding: 12px 16px;
  gap: 16px;
}

.summaryDetailContent {
  font-size: 19px;
  font-weight: 450px;
}

.bookingStepButton {
  padding: 16px;
  background-color: red;
}
.calendarCard {
  font-family: var(--main-font-family);
}

.timeTitle {
  font-weight: 600;
}
