.bookingScheduleCard * {
  font-family: var(--main-font-family);
  color: #183d4c;
  /* cursor: pointer; */
}

.bookingScheduleCard {
  background-color: transparent;
  border: none;

  overflow: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cardTitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.genreList {
  display: flex;
  gap: 8px;
  margin-bottom: 2rem;
}

.calendarInstruction {
  margin-bottom: 0.35em;
  font-size: 19px;
  font-weight: 700;
}

.timePickersWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  border: 2px solid #cbd4dc;
  border-radius: 12px;
  padding: 1rem 0.5rem;
  justify-content: space-between;
}
.timePicker {
  cursor: pointer;
}
.verticalDivider {
  width: 2px;
  margin: auto 0;
  height: 50px;
  background-color: #cbd4dc;
}
.timePicker {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.specificTime {
  font-weight: 500;
  justify-content: center;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}

.chosenTimeWrapper *{
  /* color: red; */
}
.chosenTime * {
  /* color: #183d4c; */
  
  background-color: transparent;
  border: none;
  /* font-size: 2rem; */
  font-weight: 700;
  cursor: pointer;
  font-family: var(--main-font-family);
  text-align: center;
}
.chosenTime {
  /* font-size: 3rem; */
}
.mobileStepperWrapper {
  margin-top: auto;
}

.summaryWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summaryText {
  font-size: 19px;
  font-weight: 600;
}

.summaryChangeText {
  color: #62afe8;
  font-size: 15px;
  cursor: pointer;
}
